	html, body{
  font-family: 'Hind', sans-serif;
   font-size: 100%;
   background:#fff	; 
}


.banner-main {
    padding: 0em 0em;
    text-align: center;
    background:#fff;
    width: 100%;
    margin: 0em auto 0em
    }
    
    .banner-main h3 {
    font-size: 4vw;
    color: #fff;
    text-align: center;
        margin: 0em 0em 0em 0em;
    font-family: 'Times', sans-serif;
}


	
.banner-main p {
    font-size: 3vmin;
    color: #fff;
    text-align: center;
        margin: 0em 0em 0em 0em;
    font-family: 'Times', sans-serif;
}

.banner-first {
    padding: 0em 0em;
    text-align: center;
    width: 100%;
    margin: 0em auto 0em
}    
    
    .banner-first p{
    	font-size: 3vmin;
    	color: #000000;
    	text-align: center;
    	margin: 0em 0em 0em 0em;
    	font-family: 'Times', sans-serif;
    	
    }

.banner-second {
    padding: 0em 0em;
    text-align: center;
    background:#000000;
    width: 100%;
    margin: 0em auto 0em;
    }
    
    .banner-second h3 {
    font-size: 4vw;
    color: #00008B;
    text-align: center;
        margin: 0em 0em 0em 0em;
    font-family: Times, sans-serif;
}
.banner-second h4 {
	font-size:.25vw;
	color: #00008B;
	text-align: center;
	font-family: Times, sans-serif;
	text-decoration: underline;
	margin: 0em 0em 0em 0em;
	letter-spacing: 1vw;
	line-height: 3.5vw;
}

.banner-second h5 {
	font-size:6.5vw;
	color: #00008B;
	text-align: center;
	font-family: Times, sans-serif;
	text-decoration: underline;
	margin: 0em 0em 0em 0em;
	letter-spacing: 1vw;
	line-height: 6.5vw;
}
.banner-second h6 {
    font-size: 3vmin;
    color: #00008B;
    text-align: center;
        margin: 0em 0em 0em 0em;
    font-family: Times, sans-serif;
}

.banner-second p {
    font-size: 4vmin;
    color: #00008B;
    text-align: center;
        margin: 0em 0em 0em 0em;
    font-family: Times, sans-serif;
}
    
.w3-theme-l5 {color:#00008B !important; background-color:#fff !important}
.w3-theme-l4 {color:#fff !important; background-color:#00008B !important}
.w3-theme-l3 {color:#000 !important; background-color:#a6d4fa !important}
.w3-theme-l2 {color:#000 !important; background-color:#79bff8 !important}
.w3-theme-l1 {color:#fff !important; background-color:#4daaf6 !important}
.w3-theme-d1 {color:#fff !important; background-color:#0c87eb !important}
.w3-theme-d2 {color:#fff !important; background-color:#0b78d1 !important}
.w3-theme-d3 {color:#fff !important; background-color:#0a69b7 !important}
.w3-theme-d4 {color:#fff !important; background-color:#085a9d !important}
.w3-theme-d5 {color:#fff !important; background-color:#074b83 !important}

.w3-theme-light {color:#000 !important; background-color:#f2f9fe !important}
.w3-theme-dark {color:#fff !important; background-color:#074b83 !important}
.w3-theme-action {color:#fff !important; background-color:#074b83 !important}

.w3-theme {color:#fff !important; background-color:#2196f3 !important}
.w3-text-theme {color:#2196f3 !important}
.w3-border-theme {border-color:#2196f3 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#2196f3 !important}
.w3-hover-text-theme:hover {color:#2196f3 !important}
.w3-hover-border-theme:hover {border-color:#2196f3 !important}
